<template lang="html">
  <section :class="cname">
    <swiper :options="swiperOption" ref="mySwiper" :not-next-tick="swiperOption.notNextTick">
    <!-- slides -->
    <swiper-slide v-for="item in items" :key="item.src">
      <router-link :to="{name:item.href}">
        <img :src="item.src">
      </router-link>
    </swiper-slide>
    <!-- Optional controls -->
    <div class="swiper-pagination"  slot="pagination" v-if="swiperOption.pagination"></div>
  </swiper>
  </section>
</template>
<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
export default {
  components: {
    swiper,
    swiperSlide
  },
  props: {
    cname: {
      type: String,
      defaule: ''
    },
    swiperOption: {
      type: Object,
      default() {
        return {
          autoplay: {
            autoplay: true,
            delay: 3000,
            disableOnInteraction: false // 用户操作swiper之后，是否禁止autoplay
          },
          loop: true,
          pagination: {
            el: '.swiper-pagination'
          },
          notNextTick: false
        }
      }
    },
    items: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>
<style lang="scss">
@import "../../../node_modules/swiper/dist/css/swiper.css";
</style>