<template lang="html">
    <div id="home">
        <Header/>
        <Slider/>
        <Novice/>
        <Financing/>
        <Crowdfunding/>
        <Insurance/>
        <Carmoney/>
        <Footer/>
        <Navbar/>
    </div>
</template>
<script>
import Header from '@/components/public/header.vue'
import Slider from '@/components/home/hslider.vue'
import Novice from '@/components/home/novice.vue'
import Financing from '@/components/home/financing.vue'
import Crowdfunding from '@/components/home/crowdfunding.vue'
import Insurance from '@/components/home/insurance.vue'
import Carmoney from '@/components/home/carmoney.vue'
import Footer from '@/components/public/footer.vue'
import Navbar from '@/components/public/navbar.vue'

export default {
  name: 'home',
  components: {
    Header,
    Slider,
    Novice,
    Financing,
    Crowdfunding,
    Insurance,
    Carmoney,
    Footer,
    Navbar
  }
}
</script>
